/* You can add global styles to this file, and also import other style files */

@import 'common/style.css';
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'cwTeXHei', "Times New Roman", Times, serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
